<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signature Collection</title>
    <link href="http://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="pusher">
    <div th:replace="/shared/_header::header"></div>

    <div class="full height image">
        <div class="ui main container">
            <div class="ui information container">
                <div class="ui middle aligned center aligned grid">
                    <div class="center column">
                        <div class="ui segment">
                            <h1 class="ui center aligned header">キャンペーン作成</h1>
                            <form class="ui form" method="post" action="/auth/campaign"
                                  th:classappend="${form.hasErrors()} ? 'error'">
                                <div class="field"
                                     th:classappend="${form.hasErrors('title')} ? 'error'">
                                    <input type="text" name="title" th:value="${form.title}"
                                           placeholder="タイトル"/>
                                    <ul class="ui pointing red basic label"
                                        th:if="${form.hasErrors('title')}">
                                        <li th:each="error : ${form.getErrors('title')}"
                                            th:text="${error}"></li>
                                    </ul>
                                </div>
                                <div class="field"
                                     th:classappend="${form.hasErrors('statement')} ? 'error'">
                                <textarea name="statement" th:size="30" th:value="${form.statement}"
                                          placeholder="本文 ※マークダウン記法が利用可能です"></textarea>
                                    <ul class="ui pointing red basic label"
                                        th:if="${form.hasErrors('statement')}">
                                        <li th:each="error : ${form.getErrors('statement')}"
                                            th:text="${error}"></li>
                                    </ul>
                                </div>
                                <div class="field"
                                     th:classappend="${form.hasErrors('goal')} ? 'error'">
                                    <input type="text" name="goal" th:value="${form.goal}"
                                           placeholder="目標人数"/>
                                    <ul class="ui pointing red basic label"
                                        th:if="${form.hasErrors('goal')}">
                                        <li th:each="error : ${form.getErrors('goal')}"
                                            th:text="${error}"></li>
                                    </ul>
                                </div>
                                <button class="ui fluid red button">作成</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
